@import url("https://fonts.googleapis.com/css2?family=Glory:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@100;300;400;500&family=Poppins:wght@100;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

header {
  height: 100vh;
}

header body {
  background: #ecf3f3;
}

header .particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(27vw, 76vh, 63px);
            transform: translate3d(27vw, 76vh, 63px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(27vw, 76vh, 63px);
            transform: translate3d(27vw, 76vh, 63px);
  }
}

header .particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.49;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(7vw, 7vh, 36px);
          transform: translate3d(7vw, 7vh, 36px);
  background: #26d9a6;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(33vw, 63vh, 3px);
            transform: translate3d(33vw, 63vh, 3px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(33vw, 63vh, 3px);
            transform: translate3d(33vw, 63vh, 3px);
  }
}

header .particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.27;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(36vw, 50vh, 80px);
          transform: translate3d(36vw, 50vh, 80px);
  background: #2665d9;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(52vw, 23vh, 23px);
            transform: translate3d(52vw, 23vh, 23px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(52vw, 23vh, 23px);
            transform: translate3d(52vw, 23vh, 23px);
  }
}

header .particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.12;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(38vw, 70vh, 59px);
          transform: translate3d(38vw, 70vh, 59px);
  background: #2662d9;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(50vw, 71vh, 79px);
            transform: translate3d(50vw, 71vh, 79px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(50vw, 71vh, 79px);
            transform: translate3d(50vw, 71vh, 79px);
  }
}

header .particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.63;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(69vw, 10vh, 66px);
          transform: translate3d(69vw, 10vh, 66px);
  background: #2f26d9;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(18vw, 48vh, 13px);
            transform: translate3d(18vw, 48vh, 13px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(18vw, 48vh, 13px);
            transform: translate3d(18vw, 48vh, 13px);
  }
}

header .particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.68;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(6vw, 49vh, 89px);
          transform: translate3d(6vw, 49vh, 89px);
  background: #26d929;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(72vw, 30vh, 48px);
            transform: translate3d(72vw, 30vh, 48px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(72vw, 30vh, 48px);
            transform: translate3d(72vw, 30vh, 48px);
  }
}

header .particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(62vw, 31vh, 51px);
          transform: translate3d(62vw, 31vh, 51px);
  background: #5926d9;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(82vw, 68vh, 11px);
            transform: translate3d(82vw, 68vh, 11px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(82vw, 68vh, 11px);
            transform: translate3d(82vw, 68vh, 11px);
  }
}

header .particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.87;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(5vw, 38vh, 31px);
          transform: translate3d(5vw, 38vh, 31px);
  background: #d95026;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(58vw, 48vh, 20px);
            transform: translate3d(58vw, 48vh, 20px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(58vw, 48vh, 20px);
            transform: translate3d(58vw, 48vh, 20px);
  }
}

header .particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.77;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(23vw, 25vh, 58px);
          transform: translate3d(23vw, 25vh, 58px);
  background: #d98e26;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(74vw, 24vh, 90px);
            transform: translate3d(74vw, 24vh, 90px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(74vw, 24vh, 90px);
            transform: translate3d(74vw, 24vh, 90px);
  }
}

header .particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.52;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(54vw, 56vh, 37px);
          transform: translate3d(54vw, 56vh, 37px);
  background: #4ad926;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(65vw, 65vh, 95px);
            transform: translate3d(65vw, 65vh, 95px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(65vw, 65vh, 95px);
            transform: translate3d(65vw, 65vh, 95px);
  }
}

header .particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.59;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(24vw, 37vh, 33px);
          transform: translate3d(24vw, 37vh, 33px);
  background: #d926a6;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(23vw, 20vh, 56px);
            transform: translate3d(23vw, 20vh, 56px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(23vw, 20vh, 56px);
            transform: translate3d(23vw, 20vh, 56px);
  }
}

header .particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.49;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(18vw, 27vh, 5px);
          transform: translate3d(18vw, 27vh, 5px);
  background: #74d926;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(48vw, 81vh, 76px);
            transform: translate3d(48vw, 81vh, 76px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(48vw, 81vh, 76px);
            transform: translate3d(48vw, 81vh, 76px);
  }
}

header .particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.31;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(17vw, 53vh, 60px);
          transform: translate3d(17vw, 53vh, 60px);
  background: #d99d26;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(42vw, 2vh, 29px);
            transform: translate3d(42vw, 2vh, 29px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(42vw, 2vh, 29px);
            transform: translate3d(42vw, 2vh, 29px);
  }
}

header .particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.72;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(76vw, 72vh, 40px);
          transform: translate3d(76vw, 72vh, 40px);
  background: #26d9b5;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(69vw, 65vh, 27px);
            transform: translate3d(69vw, 65vh, 27px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(69vw, 65vh, 27px);
            transform: translate3d(69vw, 65vh, 27px);
  }
}

header .particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.53;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(39vw, 55vh, 76px);
          transform: translate3d(39vw, 55vh, 76px);
  background: #5026d9;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(10vw, 35vh, 34px);
            transform: translate3d(10vw, 35vh, 34px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(10vw, 35vh, 34px);
            transform: translate3d(10vw, 35vh, 34px);
  }
}

header .particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.45;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(3vw, 7vh, 97px);
          transform: translate3d(3vw, 7vh, 97px);
  background: #5fd926;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(56vw, 57vh, 12px);
            transform: translate3d(56vw, 57vh, 12px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(56vw, 57vh, 12px);
            transform: translate3d(56vw, 57vh, 12px);
  }
}

header .particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.73;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(22vw, 46vh, 2px);
          transform: translate3d(22vw, 46vh, 2px);
  background: #88d926;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(61vw, 35vh, 9px);
            transform: translate3d(61vw, 35vh, 9px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(61vw, 35vh, 9px);
            transform: translate3d(61vw, 35vh, 9px);
  }
}

header .particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.76;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(50vw, 38vh, 69px);
          transform: translate3d(50vw, 38vh, 69px);
  background: #2635d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(41vw, 36vh, 54px);
            transform: translate3d(41vw, 36vh, 54px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(41vw, 36vh, 54px);
            transform: translate3d(41vw, 36vh, 54px);
  }
}

header .particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.17;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(77vw, 10vh, 89px);
          transform: translate3d(77vw, 10vh, 89px);
  background: #d9264a;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(80vw, 28vh, 17px);
            transform: translate3d(80vw, 28vh, 17px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(80vw, 28vh, 17px);
            transform: translate3d(80vw, 28vh, 17px);
  }
}

header .particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.6;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(70vw, 42vh, 38px);
          transform: translate3d(70vw, 42vh, 38px);
  background: #d9263e;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(30vw, 74vh, 45px);
            transform: translate3d(30vw, 74vh, 45px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(30vw, 74vh, 45px);
            transform: translate3d(30vw, 74vh, 45px);
  }
}

header .particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.12;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(12vw, 50vh, 62px);
          transform: translate3d(12vw, 50vh, 62px);
  background: #c4d926;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(24vw, 85vh, 71px);
            transform: translate3d(24vw, 85vh, 71px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(24vw, 85vh, 71px);
            transform: translate3d(24vw, 85vh, 71px);
  }
}

header .particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.65;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(52vw, 40vh, 6px);
          transform: translate3d(52vw, 40vh, 6px);
  background: #2926d9;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(3vw, 71vh, 67px);
            transform: translate3d(3vw, 71vh, 67px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(3vw, 71vh, 67px);
            transform: translate3d(3vw, 71vh, 67px);
  }
}

header .particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.19;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(90vw, 2vh, 83px);
          transform: translate3d(90vw, 2vh, 83px);
  background: #26d9ac;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(13vw, 70vh, 93px);
            transform: translate3d(13vw, 70vh, 93px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(13vw, 70vh, 93px);
            transform: translate3d(13vw, 70vh, 93px);
  }
}

header .particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.39;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(52vw, 83vh, 19px);
          transform: translate3d(52vw, 83vh, 19px);
  background: #d95326;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(43vw, 46vh, 42px);
            transform: translate3d(43vw, 46vh, 42px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(43vw, 46vh, 42px);
            transform: translate3d(43vw, 46vh, 42px);
  }
}

header .particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.66;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(29vw, 50vh, 91px);
          transform: translate3d(29vw, 50vh, 91px);
  background: #263ed9;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(13vw, 15vh, 27px);
            transform: translate3d(13vw, 15vh, 27px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(13vw, 15vh, 27px);
            transform: translate3d(13vw, 15vh, 27px);
  }
}

header .particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.64;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(44vw, 46vh, 43px);
          transform: translate3d(44vw, 46vh, 43px);
  background: #6bd926;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(56vw, 64vh, 29px);
            transform: translate3d(56vw, 64vh, 29px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(56vw, 64vh, 29px);
            transform: translate3d(56vw, 64vh, 29px);
  }
}

header .particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.3;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(89vw, 50vh, 37px);
          transform: translate3d(89vw, 50vh, 37px);
  background: #d92629;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(55vw, 72vh, 39px);
            transform: translate3d(55vw, 72vh, 39px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(55vw, 72vh, 39px);
            transform: translate3d(55vw, 72vh, 39px);
  }
}

header .particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.85;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(5vw, 2vh, 11px);
          transform: translate3d(5vw, 2vh, 11px);
  background: #d93e26;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(50vw, 57vh, 59px);
            transform: translate3d(50vw, 57vh, 59px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(50vw, 57vh, 59px);
            transform: translate3d(50vw, 57vh, 59px);
  }
}

header .particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.38;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(21vw, 64vh, 29px);
          transform: translate3d(21vw, 64vh, 29px);
  background: #8ed926;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(90vw, 19vh, 95px);
            transform: translate3d(90vw, 19vh, 95px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(90vw, 19vh, 95px);
            transform: translate3d(90vw, 19vh, 95px);
  }
}

header .particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.63;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(33vw, 65vh, 39px);
          transform: translate3d(33vw, 65vh, 39px);
  background: #d926a0;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(61vw, 3vh, 83px);
            transform: translate3d(61vw, 3vh, 83px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(61vw, 3vh, 83px);
            transform: translate3d(61vw, 3vh, 83px);
  }
}

header .particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.26;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(43vw, 13vh, 18px);
          transform: translate3d(43vw, 13vh, 18px);
  background: #d92c26;
}

header nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul li {
  font-family: 'Glory', sans-serif;
  padding-left: 1.2rem;
}

header nav ul li a {
  height: 100%;
  font-size: 1.4rem;
  cursor: pointer;
}

header .sidenav .head {
  margin: 0;
  height: 250px;
  background-image: url("https://www.infobae.com/new-resizer/S1HZTI_Bsd_sa61nisDumlUv0EA=/1024x512/filters:format(jpg):quality(85)//s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/07/05072053/obelisco-1920.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}

header .sidenav .head::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.678);
  z-index: 0;
}

header .sidenav .head .img {
  background-image: url("../img/head.jpg");
  background-size: cover;
  background-position: center;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: relative;
  top: 25px;
  left: 25px;
}

header .sidenav .head h2 {
  top: 5px;
  left: 20px;
  position: relative;
  color: white;
  font-size: 1.7rem;
  z-index: 500;
}

header .sidenav .head h3 {
  top: -15px;
  left: 20px;
  position: relative;
  color: white;
  font-size: 1.1rem;
  z-index: 500;
}

header .header-content {
  position: relative;
  top: 150px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

header .header-content h2 {
  font-size: 2.5rem;
}

main {
  width: 100%;
}

main .about {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about p {
  padding-top: 4rem;
  font-size: 1.1rem;
}

main .technologies {
  width: 100%;
}

main .technologies .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
  background-color: red;
}

main .about {
  height: 400px;
}

main .about p {
  font-size: 1.1rem;
}

.carousel .indicators .indicator-item {
  background-color: black;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.carousel .indicators .indicator-item.active {
  background-color: #3f51b5;
}

.projects {
  min-height: 600px;
  font-family: 'Poppins', sans-serif;
}

.projects-title {
  padding-top: 50px;
  color: white;
}

.projects-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.projects-cards .project-card {
  width: 350px;
  height: 500px;
  background-color: aliceblue;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-cards .project-card .project-card_image {
  position: relative;
  top: -30px;
  width: 70%;
  height: 220px;
  background-image: url("https://esp.habitants.org/var/ezwebin_site/storage/images/la_via_urbana/alojar_mil_millones_de_personas2/work_in_progress/2390822-1-ita-IT/work_in_progress.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.projects-cards .project-card h3 {
  color: black;
  font-size: 2rem;
}

.projects-cards .project-card p {
  color: black;
}

.projects-cards .project-card button {
  margin: 5px;
  position: relative;
  top: 15px;
}

.projects-cards .project-card button a {
  color: white;
}

footer {
  width: 100%;
  height: 200px;
}

footer h2 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
}

footer .container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container-contact .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 150px;
}

footer .container-contact .contact-item p {
  font-size: 1.5rem;
}

footer .container-contact .contact-item .contact-image {
  margin-top: 40px;
  width: 50px;
  height: 50px;
  background-color: transparent !important;
  background-size: 100%;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-repeat: no-repeat;
}

footer .container-contact .contact-item .contact-image.linkedin {
  background-image: url("https://cdn-icons-png.flaticon.com/512/174/174857.png");
}

footer .container-contact .contact-item .contact-image.github {
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
}

footer .container-contact .contact-item .contact-image.email {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/1200px-Gmail_icon_%282020%29.svg.png");
}

@media (max-width: 991px) {
  header h2 span {
    position: absolute;
    top: 130px;
    height: 400px;
    background: white;
    -webkit-animation: escribir 2s steps(120) alternate;
            animation: escribir 2s steps(120) alternate;
  }
}
/*# sourceMappingURL=style.css.map */